#root{
  padding: 15px 0 0 30px;
}

h2{
  font-size: 15px;
}

.select-area{
  display: inline-block;
  padding: 5px 20px 15px 15px;
  border: 1px solid black;
}

select{
  font-size: 25px;
}

#add-button{
  font-size: 20px;
  margin-left: 15px;
}

#table-and-copy{
  display: flex;
  /* align-items: center; */
  align-self: flex-start;
}

table{
  margin-top : 20px;
  width: 250px
}
td {
  border: 1px solid black;
  text-align: center;
}

#remove-button{
  border: none;
}

thead {
  background-color: black;
  color: white;
}

#copy-button{
  margin: 30px 0 0 0 ;
  height: 50px;
}